<header>
  <div class="container">
    <h1 class="masthead-brand">Mecra</h1>
    <span class="masthead-exp">"Medya ve Kültürel Çalışmalar Platformu"</span>
    <ul class="nav masthead-nav">
      <li {% if page.nav_active == 'index' %}class="active"{% endif %}><a href="/">Anasayfa</a></li>
      <li {% if page.nav_active == 'about' %}class="active"{% endif %}><a href="/about">Hakımızda</a></li>
      <li {% if page.nav_active == 'issues' %}class="active"{% endif %}><a href="/issues">Dosyalar</a></li>
      <!--<li><a href="/" target="_blank">Blog</a></li>-->
    </ul>
  </div>
</header>
