/* Main styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 66px;
    background: #f0f0f0;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    overflow-y: scroll;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 66px;
}
/*
 * Header
 */

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}
.masthead-exp {
    display: inline-block;
    font-style: italic;
    margin-top: 26px;
    margin-left: 5px;
    float: left;
}
.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-weight: bold;
    color: #000;
    /* IE8 proofing */
    color: rgba(0, 0, 0, .75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(0, 0, 0, .4);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #000;
    border-bottom-color: #000;
}
.masthead-brand {
    float: left;
}
.masthead-nav {
    float: right;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    text-align: center;
    margin: 20px 0;
}
header {
    margin-top: 20px;
}
header > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
.issue-heading {
    margin-top: 0;
}
.article-link {

} 
.author {
    font-style: italic;
}
.article-list {
    padding-top: 15px;
}
article {
    padding-bottom: 30px;
    max-width: 600px;
    text-align: left;
    /*
    text-align: justify;
    text-justify: newspaper
    */
}
.article-intro {
    text-align: center;
}
article p {
    margin: 0 0 20px;
}
.article-img {
    padding: 20px 0 30px;
    text-align: center;
}
article img {
    max-width: 600px;
    display: inline-block;
}
.bs-callout {
    margin-bottom: 20px;
    padding: 20px;
    border-left: 3px solid #eee;
}
.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

@media (min-width: 1024px) {
    .dl-horizontal dt {
        width: 165px;
    }
}

@media (max-width: 800px) {
    header {
        text-align: center;
    }
    
    .masthead-brand {
        float: none;
    }
    
    .masthead-exp {
        float: none;
        margin: 10px 0;
    }
    
    .masthead-nav {
        float: none;
    }
    
    body > .container {
        padding: 40px 15px 0;
    }
    
    .footer {
        bottom: 60px;
    }
    
    body {
        margin-bottom: 126px;
    }
}

@media (max-width: 800px) {
    article img {
        max-width: 100%;
    }
}
